.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    max-height: 400px;  
    min-width: 100px;
    background-color: white;
    z-index: 1;
    position: relative;
    max-width: 500px;
}

.product-best-seller{
    background-color: #E67A00;
    color: white;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.product-best-seller-skewd{
    background-color: #E67A00;
    color: #E67A00;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 1;
    transform: skewX(-20deg);
}

.margin-top{
    margin-top: 10px;
}

.product-title{
    height: 60px;
    overflow: hidden;
    padding-top: 18px;
}

.product-rating{
    display: flex;
}

.product-img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product-price{
    margin-top: 5px;
}

.product-info{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

@media screen and (max-width:640px) {

    .product{
        font-size: small;
    }
    .product-title{
        height: 50px;
        padding-top: 0;
    }
    .product-img{
        max-height: 150px;
    }

    .product-rating{
        font-size: small;
    }
}