.sidebar-container{
    display: flex;
    z-index: 100;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar{
    background-color: white;
    color: black;
    width: 30vw;
    transition: 1s;
    overflow: auto;
}

.sidebar-user{
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    font-weight: 500;
    font-size: larger;
}

.sidebar-list{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.sidebar-heading{
    font-weight: 700;
    font-size: larger;
    margin: 10px;
}

.sidebar-item{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar-item:hover{
    background-color: rgb(221, 221, 221);
}

.person-icon{
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

.user-image{
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

.navigation-menu-icon{
    color: white;
}

.cancleButton{
    color: white;
}

@media screen and (max-width : 640px) {
    .sidebar{
        width: 50vw;
    }
    .sidebar-list{
        font-size: 0.8rem;
    }
}