.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 10px;
}

.subtotal-gift{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.subtotal-gift > input{
    margin-right: 5px;
}

.subtotal > button{
    border-radius: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    color: #111;
    background: #FFD814;
    border-color: #FCD200;
    padding: 5px;
}

.subtotal > button:hover{
    background: #f1cc13;
}

.subtotal-bottom{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 20px 0;
}

.subtotal-bottom > p {
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 760px) {
    .subtotal{
        margin-left: 0;
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .subtotal > button{
        min-width: 20%;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .subtotal-gift{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 500px) {
    .subtotal-bottom{
        justify-content: flex-start;
        padding-left: 20px;
    }
}
@media screen and (max-width: 350px) {
    .subtotal > button{
        min-width: 50%;
    }
}