body {

  background-color: rgb(234, 237, 237);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal{
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 1000;
}
.modal{
  margin-bottom: 8px;
  transition: ease-in-out;
}